* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --black: #000;
    --blue: #132b8a;
    --white: #fff;
    --white-two: #fffefa;
    --white-three: #fafcff;
    --yellow: #face4b;
}

button,
.checklist-wrapper div div a {
    border: 1px solid var(--yellow);
    border-radius: .4rem;
    background-color: var(--yellow);
    color: var(--black);
    font-weight: bold;
    letter-spacing: .2rem;
}

button,
 .car-brands div img, 
 .details div,
 .nav div img:hover {
    box-shadow: 4px 4px 19px #ddd;
}

button,
.checklist-wrapper div div a,
input,
textarea {
    margin: 1rem 1rem 1rem 0;
    padding: .5rem;
}

.car-brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
}

.car-brands div img {
    border-radius: .5rem;
    height: 13rem;
    margin: 1.5rem;
    width: 20rem;
}

.car-brands div p {
    color: var(--blue);
    font-weight: bold;   
}

.car-brands div p,
.details-5 div div h1,
.details-5 div div p {
    text-align: center;
}

.checklist-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.checklist-wrapper div { 
    width:15rem;
}
 
.checklist-wrapper div div a {
    color: var(--blue);
    text-decoration: none;
}
 
.checklist-wrapper div div p {
    margin-bottom: 1rem;
}

#contact.form div div div div img {
    width: 4rem;
}

#details {
    padding-block: 6rem;   
}

.details,
.form {
    background: #eee;   
}

.details,
 .details-3, 
 .details-4, 
 .details-5, 
 .form,
 .form > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 
.details-3 div div h1 {
    text-align: center;   
}

.details div {
    background-color: var(--white-three);
    border-radius: .5rem;
    flex-basis: 20rem;
    margin: 1rem;
    padding: 1rem;
}
 
.details div a,
.form h1,
.form input[placeholder],
.form textarea {
    color: var(--blue);
    font-weight: bold;
}

.details-2 p { 
    margin: 2rem;
    text-align: center;
}

.details-3 {
    background-color: var(--white-two);
}

.details-3, 
.details-4, 
.details-5 { 
    padding: 2rem;
}
 
.details-4 {
    background-color: #eee;
}

.details-4 button {
    background-color: var(--black);
    border: 1px solid var(--black);
}

.details-4 button a { 
    color: var(--white); 
    text-decoration: none;
}

.details-4 div:last-child {
    align-self: center;
}

.details-4 div, .details-5 div, form {
    margin-inline: 1rem; 
}

.details div a {
    border-bottom: 4px solid var(--yellow);
    text-decoration: none;
}

.details h2 {
    color: var(--blue);
    font-family: verdana;
}

.form form {
    width: 30rem;
} 

.form > div {
    align-self: center;
}

.form > div div { 
    padding: 1rem;
}
 

.form > div > div > div { 
    display: flex;
    flex-wrap: wrap;
}
 
.form form input,
textarea {
    border: 1px solid #ddd;
    border-radius: .5rem;   
}

footer {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
}

footer > div {
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

footer > div div:first-child { 
    width: 25rem;
}

footer > div div {
    margin: 2.5rem;
}

footer h1 {
    margin-block: 1rem;
}

footer + p {
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
}

.form {
     padding-block: 6rem;   
}

.form form input,
.form form textarea {
    width: 30rem !important;   
}

.form h1,
.intro h1 {
    border-bottom: solid red;   
}

h1:not(footer h1),
 .checklist-wrapper div h2, 
 .details div p,
 h2 {
    margin: 1rem 1rem 1rem 0;
}

html {
    scroll-behavior: smooth;   
}

input, 
textarea {
    width: calc(60vw - 1rem);
}

input[placeholder],
.form textarea {
    color: var(--blue);
    font-size: 1.3rem;
    letter-spacing: .1rem;
    outline: none;
}

.intro {
    background-color: var(--white-two);
    display: flex;
    flex-wrap: wrap;
    font-size: larger;
    height: 100vh;
    justify-content: center;
    margin-bottom: 2rem;
}
 
.intro > div {
    align-self: center;
    margin-inline: 3.5rem;
    width: 22rem;
} 

.intro div button a {
    color: var(--blue);
    text-decoration: none;
}

.message-success {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    padding: 3rem;
}

.message-success div {
    width: 35rem;   
}

.message-success div h1 {
    color: #61d961;   
}

.message-success div p a {
    color: var(--black);
    text-decoration: none;   
}

nav {
    background-color: var(--black);
    color: var(--white);
    font-size: 2rem;
    height: 100vh;
    left: -22rem;
    padding: 2rem;
    position: fixed;
    top: 0;
    transition: 1s;
    width: 20rem;
    z-index: 1;
}

.nav {
    background-color: var(--white);
    position: fixed;
    padding: 1.5rem;
    top: -2rem; 
    width: 100%;
}

.nav div {
    display: flex;
    justify-content: space-between;
}

.nav-toggle {
    left: 0;
}

nav ul li a,
.nav-toggle ul li a {
    color: #fff; 
    text-decoration: none;
}

p {
    line-height: 2rem;
}

section.main {
    overflow: hidden;   
}

#services {
    padding: 6rem;   
}

.social-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20rem; 
}

.social-links img {
    margin: .5rem;
    width: 3rem;
}

textarea { 
    height: 10rem;
    resize: none;
}

ul {
    list-style: none;
}
 
@media(max-width: 1264px) {
    .social-links {
        display: none;
    }
}

@media(max-width: 1118px) {
       main {
              margin-top: 5rem;
        }           
}

@media(max-width: 458px) {
    footer > div div:first-child {
        width: 15rem;   
    }
}
 
@media(max-width: 498px) {
       .form form input,
       .form form textarea {
            width: calc(95vw - 1rem) !important;
        }
}

@media(max-width: 406px) {
    nav {
        width: 14rem;   
    }
}

@media(max-width: 342px) { 
    .details-5 div > div {
        padding-inline: 4rem;  
    }   
}
